body {
    background-color: #43bccd;
    color: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: #EA3546;   
    color: white;
    border-style: none;
}
input {
    height: 23px;
}
